<div class="container ">	
	<form class="col-md-8">
		<h1 class="text-center">Step 1</h1>
		<h2 class="text-center">New Travel Spot</h2>
		<h3>Details</h3>
		<div class="form-group row">

			<label class="col-xs-3 col-sm-3 col-md-3"> Name</label>
			<input type="text" class="form-control col-xs-9 col-sm-9 col-md-9" aria-describedby="emailHelp" placeholder="(e.g. Mt. Pulag, Mt. Ulap, Chocolate Hills)"/>		
		</div>
		<div class="form-group row">
			<label class="col-xs-3 col-sm-3 col-md-3">Caption</label>
			<input type="text" class="form-control col-xs-9 col-sm-9 col-md-9" placeholder="Catchy and interesting phrase. (max 50 characters)"/>
		</div>
		<div class="form-group row">
			 <label for="exampleFormControlFile1" class="col-xs-3 col-sm-3 col-md-3"> Example file input</label>
			<input type="file" class="form-control-file col-xs-9 col-sm-9 col-md-9" id="exampleFormControlFile1">
		</div>
		<hr/>
		<h3>Address</h3>
		<div class="form-group row">
			<label class="col-xs-3 col-sm-3 col-md-3">Quick Search</label>

			<input places-auto-complete (initialized$)="initialized($event)" (place_changed)="placeChanged(place)"   class="form-control col-xs-9 col-sm-9 col-md-9"/>


		</div>
		<div class="form-group row">
			<label class="col-xs-3 col-sm-3 col-md-3">Street</label>
			<input type="text" class="form-control col-xs-9 col-sm-9 col-md-9" [(ngModel)]=address.route name="street"/>
		</div>

		<div class="form-group row">
			<label class="col-xs-3 col-sm-3 col-md-3">Barangay/ Subdivision</label>
			<input type="text" class="form-control col-xs-9 col-sm-9 col-md-9" [(ngModel)]=address.sublocality_level_1  name="brgy"/>
		</div>

		<div class="form-group row">
			<label class="col-xs-3 col-sm-3 col-md-3">City</label>
			<input type="text" class="form-control col-xs-9 col-sm-9 col-md-9" [(ngModel)]=address.locality  name="city"/>
		</div>
		<div class="form-group row">
			<label class="col-xs-3 col-sm-3 col-md-3">Province</label>
			<input type="text" class="form-control col-xs-9 col-sm-9 col-md-9" [(ngModel)]="address.administrative_area_level_2 || address.administrative_area_level_1" name="province"/>
		</div>
		<div class="form-group row">
			<label class="col-xs-3 col-sm-3 col-md-3">Region</label>
			<input type="text" class="form-control col-xs-9 col-sm-9 col-md-9" [(ngModel)]=address.administrative_area_level_1 name="region"/>
		</div>


		<label class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input"/>
			<span class="custom-control-indicator"></span>
			<span class="custom-control-description">By checking this, you have read and agreed to the terms & conditions.</span>
		</label>
		<div class="text-center">
			<button type="submit" class="btn btn-primary btn-lg">Save</button>
			<a href="spot/create/1/2"class="btn btn-success btn-lg ">Next</a>
		</div>
	</form>
</div>