<div class="container ">	
	<form class="col-md-8">
		<h1 class="text-center">Step 1</h1>
		<h2 class="text-center">New Travel Spot</h2>
		<div class="form-group row">
			<label class="col-xs-2 col-sm-2 col-md-2"> Name</label>
			<input type="text" class="form-control col-xs-10 col-sm-10 col-md-10" aria-describedby="emailHelp" placeholder="(e.g. Mt. Pulag, Mt. Ulap, Chocolate Hills)"/>
			<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
		</div>
		<div class="form-group row">
			<label class="col-xs-2 col-sm-2 col-md-2">Caption</label>
			<input type="text" class="form-control col-xs-10 col-sm-10 col-md-10" placeholder="Catchy and interesting phrase. (max 50 characters)"/>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input"/>
      Check me out
			</label>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
		<a href="spot/create/1/2"class="btn btn-success ">Next</a>
	</form>
</div>