<div class="container ">	
	<form class="col-md-8">
		<h1 class="text-center">Step 2</h1>
		<h2 class="text-center">Travel Spot Details</h2>
		<div class="form-group row">
			<label class="col-xs-2 col-sm-2 col-md-2">Description</label>
			<textarea rows=10 type="text" class="form-control col-xs-10 col-sm-10 col-md-10" aria-describedby="emailHelp" placeholder="History, in-depth information and any other interesting facts about the travel spot."></textarea>
			<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
		</div>
		<div class="form-group row">
			<label class="col-xs-2 col-sm-2 col-md-2">Category</label>
			<input type="text" class="form-control col-xs-10 col-sm-10 col-md-10" placeholder="Catchy and interesting phrase. (max 50 characters)"/>
		</div>
		<div class="form-group row">
			<label class="col-xs-2 col-sm-2 col-md-2">Visitor Age Category</label>
			<select class="form-control col-xs-10 col-sm-10 col-md-10" id="exampleFormControlSelect1">
      <option>For everyone</option>
      <option>For 3 years old & above</option>
      <option>For 10 years old & above</option>
	  <option>For 18 years old & above</option>
    </select>
		</div>

		<div class="form-group row">
			<label class="col-xs-2 col-sm-2 col-md-2">Cost Range</label>
			<div class="col-xs-10 col-sm-10 col-md-10 input-group ">
				<span class="input-group-addon">PHP</span>
				<input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"/>
				<span class="input-group-addon">To</span>
				<input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"/>
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Publish</button>		
	</form>
</div>