<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4">
			<h1> {{currentTravelSpot.name}}</h1>
			<p ></p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8">
			<ngb-carousel>
				<ng-template ngbSlide>
					<img src="https://lorempixel.com/900/500?r=1" alt="Random first slide"/>
					<div class="carousel-caption">
						<h3>First slide label</h3>
						<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
					</div>
				</ng-template>
				<ng-template ngbSlide>
					<img src="https://lorempixel.com/900/500?r=2" alt="Random second slide"/>
					<div class="carousel-caption">
						<h3>Second slide label</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</ng-template>
				<ng-template ngbSlide>
					<img src="https://lorempixel.com/900/500?r=3" alt="Random third slide"/>
					<div class="carousel-caption">
						<h3>Third slide label</h3>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
					</div>
				</ng-template>
			</ngb-carousel>
		</div>
	</div>
	<div class="row container col-xs-12 mx-auto mb-3">
		<ngb-tabset [justify]="currentJustify">
			<ngb-tab title="Overview">
				<ng-template ngbTabContent>
					<div class="container">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					About</ng-template>
				<ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
					<p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
      yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
      shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
      sint qui sapiente accusamus tattooed echo park.</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Map">
				<ng-template ngbTabContent>
					<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>

	</div>
</div>
