<div class="container">
<div class="col-xs-12 col-sm-12 col-md-9">
	<div class="card col-xs-12">
		
		
		<img src="{{currentTravelSpot.displayImg}}" alt="Random first slide" class="card-img-top" style="max-height: 300px" alt="Card image cap"/>
		<div class="carousel-caption">
			<h3>{{currentTravelSpot.name}} <span class="badge badge-success">{{currentTravelSpot.numSumRating /currentTravelSpot.numTotalRating * 0.1 | number : '1.1'}}</span></h3>

			<h5><i class="ion-ios-location-outline">  </i>{{currentTravelSpot.city}} , {{currentTravelSpot.province}}</h5>
		
		</div>
		</div>

		<div class="card border-info">
			<div class="card-body">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4">
						<small class="text-muted">Last updated on August 31, 2017 by Kenneth</small>
					</div>
					<div class="col-xs-12 col-sm-8-col-md-8 float-right ">
						<a href="#" class="badge badge-pill badge-primary text-right" *ngFor="let tag of currentTravelSpot.tags">{{tag}}</a>
					</div>
				</div>
				<div class="row">
				<div class="btn-group">
					<button class="btn btn-info">Bookmark</button>
					<button class="btn btn-warning"><i class="ion-android-walk"> </i>Traveled here</button>
					<button class="btn btn-info">Write Guide</button>
					<button class="btn btn-info">Review this</button>
					</div>
				</div>
			</div>		
		</div>
		
				
				
			
				
				<!-- <ng-template ngbSlide>
					<img src="https://lorempixel.com/900/500?r=2" alt="Random second slide"/>
					<div class="carousel-caption">
						<h3>Second slide label</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</ng-template>
				<ng-template ngbSlide>
					<img src="https://lorempixel.com/900/500?r=3" alt="Random third slide"/>
					<div class="carousel-caption">
						<h3>Third slide label</h3>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
					</div> -->
				<!-- </ng-template> -->
			
		
		
	
		<ngb-tabset [justify]="currentJustify">
			<ngb-tab title="Details">
				<ng-template ngbTabContent>
					<div class="container">
					<div class="card">
			<div class="card-body">
					<h5><i class="ion-ios-location-outline">  </i>{{currentTravelSpot.street}} {{currentTravelSpot.brgy}} {{currentTravelSpot.city}} , {{currentTravelSpot.province}}</h5>

	</div>
		</div>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					Reviews</ng-template>
				<ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
					<p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
      yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
      shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
      sint qui sapiente accusamus tattooed echo park.</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Guides">
			<ng-template>
			</ng-template>
			</ngb-tab>
			<ngb-tab title="Photos">
				<ng-template ngbTabContent>
					<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>

	
</div>

</div>
